package Filemanager::Config;

our $config = {
  base_path => '/home/USER/SITE/Filemanager/'
  uploads_directory => "/tmp/uploads", #Absolute path to where the root of your files are
  url_path => "/Filemanager/userfiles" #The root that the user thinks the files are at
}